<h1><%= @title %></h1>

<div class="note_row">
    <div class="postnote">
        <h3>Tasks</h3><!-- fake data, testing -->
        <p>- Laundry</p>
        <p>- Pay Bills</p>
        <p>- Walk Dog</p>
        <p>- Take Out Trash</p>
    </div>
    <div class="postnote">
        <h3>School</h3><!-- fake data, testing -->
        <p>- Ruby on Rails Project</p>
        <p>- Rails Routes & Controller</p>
        <p>- Hackathon</p>
    </div>
    <div class="postnote">
        <h3>Shopping List</h3><!-- fake data, testing -->
        <p>- Sticky Notes</p>
        <p>- Rubber Ducky</p>
        <p>- Ruby for Dummies</p>
        <p>- Red Bull</p>
    </div>
</div>
<div class="note_row">
    <div class="postnote">
        <h3>Bucket List</h3><!-- fake data, testing -->
        <p>- Skydiving</p>
        <p>- Travel</p>
        <p>- Read a Book</p>
    </div>
    <div class="postnote">
    </div>
    <div class="postnote">
    </div>
</div>

